@import "../../../../styles/vars.scss";

@mixin activeUser {
  background-color: $googleBlue;
  color: #fff;
}

.user-container {
  .user-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;

    &:hover {
      @include activeUser;
    }
  }
}

.activeUser {
  @include activeUser;
}
