<!-- <div class="instruction-container">
  <div class="header"><h2>About the App</h2></div>
  <ul class="list">
    <li>The entry to the chat is only with user name</li>
    <li>
      If the username that you entered is already exists you will enter as the
      existing user
    </li>
    <li>
      If the user name that you entered is not exists a new user will be created
    </li>
    <li>The backend source code get be found here</li>
    <li>The front end code can be found here</li>
  </ul>
</div> -->
